<div class="single-project">
  <h1>{{currProject.name}}</h1>
  <h4>{{currProject.summary}}</h4>
  <div *ngIf="!haveActorTemplate">
    <h1>There is no actor template yet</h1>
  </div>
  <div *ngIf="haveActorTemplate">
    <ul>
      <li *ngFor="let template of actorTemplateList">
        <md-card (click)="viewTemplate(template)">
          <md-card-title>
            <h3>{{template.name}}</h3>
            <h4>{{template.description}}</h4>                    
          </md-card-title>
          <div class="users">
            <ul>
              <li *ngFor="let actor of template.actorList">
                {{actor.name}}
              </li>
            </ul>
          </div>
          <div class="action" *ngIf="editAble">
            <i class="material-icons">edit</i>
          </div>
        </md-card>
      </li>
    </ul>
  </div>
  <div class="action" *ngIf="editAble">
    <button md-button (click)="createTemplate()">
        Create Actor Template
    </button>
  </div>
</div>