@import "../../../styles.scss";
.view-template {
    label {
        display: block;
        margin-bottom: 15px;
    }
    input {
        padding: 10px;
        width: 50%;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .action {
        text-align: right;
        i {
            cursor: pointer;
        }
    }

    .user-list {
        li {
            cursor: pointer;
            float: left;
            margin-bottom: 15px;
            margin-right: 15px;
        }
    }
}