@import "../../../styles.scss";

.container {

  @include bp(min-width, $bp-xsmall+1) {
    padding: 40px 25px;
    padding-left: 0;
    width: 100%;
  }

  @include bp(min-width, $bp-medium+1) {
    margin: 0 auto;
    width: 65%;
  }
}