//@import "../mixin/_breakpoint.scss";
@import "../../../styles.scss";

.login-wrapper {
  @include bp(min-width, $bp-medium+1) {
    margin: 0 auto;
    width: 35%;
  }

  .action {
    height: 60px;

    button {
      background: #304FFE;
      color: #fff;
      padding: 10px;
      width: 100%;
    }
  }

  .dont-have {
    margin-top: 15px;
    text-align: center;

    a {
      color: #3F51B5;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

.form {
  margin-top: 45px;
}

.form-group {
  margin-bottom: 15px;
  padding-right: 25px;
  
  input {
    height: 20px;
    padding: 10px;
    width: 100%;    
  }

  label {
    font-weight: bold;
    display: block;
    width: 100%;
  }
}